* {
	margin:0;
	padding:0;
}

body {
	font-family: arial, sans-serif;
	font-size: small;
	background: #fff;
	color: #000;
}

/* p,h3 { */
p {
	text-decoration: none;
	margin-bottom: 15px;
}

table {
	font-family: arial, sans-serif;
	background-color: white;
	margin: 1em;
	border-collapse: collapse;
}

td, th {
	padding: .3em;
	border: 1px #ccc solid;
	white-space: nowrap;
}

thead {
	background: #808080;
	color: #fff;
}

input,.output {
	font-family: "courier new", fixed-width, sans-serif;
	color: #000;
}

#header {
	clear: both;
	background: #003878;
	width: 100%;
	color: #fff;
	font-size: large;
	border-bottom: 3px solid #0fa1e0;
	line-height: 49px;
}

#header p {
	margin:0 0 0 10px;
}

#menu {
	color: #000;
	width: 180px;
	float: left;
	margin-top: 10px;
}

#menu ul {
        border: 0px none;
        margin: 0;
        padding: 0;
        list-style-type: none
}

#menu ul li {
        padding: 0 0 5px 0;
        margin: 0;
        float: left;
        width: 120px; 
        text-align: right; 
}

#menu ul li a {
        color: gray; 
        padding-right: 10px;
}

#menu ul li a:hover {
        background: #FFF;
        border-right: 8px solid #003878;
}

#content {
	color: #000;
	width: 650px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	clear: right;
}

#notices {
	position: absolute;
	right: 10px;
	top: 50px;
	z-index: -1;
}

.results {
	background-color: #fff;
	color: #000;
	font-family:"courier new", fixed-width, sans-serif;
	border-collapse: collapse;
}

.results td,th {
	padding-right: 10px;
	text-align: left;
}

.results td a {
	text-decoration: none;
	font-weight:700;
}
