<div class="hidden-print navbar navbar-inverse navbar-fixed-top center">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- text logo on mobile view -->
        <a href="index.html" class="navbar-brand visible-xs">Ryan Punt</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="https://github.com/rpunt">GitHub</a></li>
          <li><a href="https://gist.github.com/rpunt/">Gists</a></li>
          <li><a href="http://www.linkedin.com/in/rpunt">LinkedIn</a></li>
          <li><a href="http://mirum.org/e46/">e46 Info</a></li>
          <li><a href="http://mirum.org/cookies/">Cookies!</a></li>
          <li><a href="mailto:ryan@mirum.org?Subject=Contact%20from%20mirum.org">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
