<nav class="navbar navbar-expand-lg navbar-blue justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#">Ryan Punt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" aria-current="page" href="/blog/">Blog</a>
        <a class="nav-link" aria-current="page" href="https://github.com/rpunt">GitHub</a>
        <a class="nav-link" aria-current="page" href="https://gist.github.com/rpunt/">Gists</a>
        <a class="nav-link" aria-current="page" href="http://www.linkedin.com/in/rpunt">LinkedIn</a>
        <a class="nav-link" aria-current="page" href="/e46/">e46 Info</a>
        <a class="nav-link" aria-current="page" rel="me" href="https://hachyderm.io/@rpunt">Mastodon</a>
        <a class="nav-link" aria-current="page" href="mailto:ryan@mirum.org?Subject=Contact%20from%20mirum.org">Contact</a>
      </div>
    </div>
  </div>
</nav>
